
# IDE specific files
/.idea/
/.vscode/

# Python cache files
__pycache__

# Python dist files
/dist/
/deb_dist/
/.eggs/
/rtdb_sync_pub.egg-info/
/rtdb-sync-pub-*.tar.gz
/.pybuild/

# Test coverage report
/.coverage
