[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

redis = "*"
hiredis = "*"
paho-mqtt = "*"
configargparse = "*"


[dev-packages]

"flake8" = "*"
nose = "*"
"flake8-docstrings" = "*"


[requires]

python_version = "3.5"
