Source: rtdb-sync-pub
Maintainer: Yeiniel Suarez Sosa <yeiniel@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9), dh-systemd, python3-setuptools, python3-all
Standards-Version: 3.9.1

Package: python3-rtdb-sync-pub
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, redis-server
Description: Real Time Database Synchronization Publisher
 Publish Real Time Database events in order to synchronize two instances of the
 Real Time Database.
 .

