
[Unit]
Description=Real Time Database Synchronization Publisher
Requires=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/python3-rtdb-sync-pub
WorkingDirectory=/usr/share/python3-rtdb-sync-pub
ExecStart=/usr/bin/python3 -m rtdb_sync_pub.launcher -c etc/rtdb-sync-pub.cfg
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=python3-rtdb-sync-pub
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
